<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<appenders>
    <Console name="Console" target="SYSTEM_OUT">
        <PatternLayout
                pattern="%style{%d{ISO8601}}{black} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %msg%n%throwable" />
    </Console>

    <File name="Errors" fileName="logs/errors.log">
        <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </File>

</appenders>
<loggers>

    <Root level="info">
        <AppenderRef ref="Console" />
        <AppenderRef ref="Errors" level = "error"/>
    </Root>

</loggers>
</configuration>
